<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dmlab.bawoori.dmlib">

    <permission android:name="com.dmlab.bawoori.dmlib.contentprovidersample.provider.READ_WRITE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name=".provider.DMGeofenceProvider"
            android:authorities="com.dmlab.bawoori.dmlib.contentprovidersample.provider"
            android:exported="true"
            android:permission="com.dmlab.bawoori.dmlib.contentprovidersample.provider.READ_WRITE"
            android:process=":bawoori" />

        <service
            android:name=".service.DMLocationService"
            android:enabled="true"
            android:exported="true"
            android:process=":bawoori" />

        <receiver
            android:name=".receiver.BootCompReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.DMGeofenceService"
            android:exported="false"
            android:process=":bawoori"/>
        <service
            android:name=".service.DMGeofenceNotificationService"
            android:exported="false"
            android:process=":bawoori"/>
        <service android:name=".dmINF.DMService" />
    </application>

</manifest>